.post {
  flex: 9;
  margin: 50px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #be9656;
  perspective: 1000px;
}
.postImgdiv {
  width: 48%;
  height: 280px;
}
.postImgdiv:hover {
  transform: rotateY(180deg);
}
.postImg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.postImg:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */

  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.postInfo {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postCategory {
  font-size: 13px;
  color: #be9656;
  font-family: "Varela", sans-serif;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.postTitle {
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  margin-top: 15px;
}

.postDate {
  font-size: 14px;
  color: #999;
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 300;
}
.postDesc {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  color: #444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
